<div class="modal fade" id="dutyAddModal" tabindex="-1" aria-labelledby="dutyAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="dutyAddModalLabel">
                    <i class="fa-solid fa-plus"></i> {{ lang.addNewDuty }}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="dutyForm">
                    <div class="row">

                        <!-- Name -->
                        <div class="col-lg-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-file-signature"></i> {{ lang.name
                                }}</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>

                        <!-- Description -->
                        <div class="col-lg-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-align-left"></i> {{ lang.description
                                }}</label>
                            <input type="text" class="form-control" formControlName="description">
                        </div>

                        <!-- Customer -->
                         <div class="col-lg-6 mb-2">
                            <label class="chooseLabel">
                                <i class="fa-solid fa-user"></i> Müşteri Adı
                            </label>
                            <ng-select [items]="customers" bindLabel="companyName" bindValue="id"
                                formControlName="customerId"></ng-select>
                        </div>

                        <div class="col-lg-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-align-left"></i> {{ lang.priority
                                }}</label>
                            <select class="form-select" formControlName="priority">
                                <option value="" disabled selected>Öncelik Seçin</option>
                                <option value="Düşük">Düşük</option>
                                <option value="Orta">Orta</option>
                                <option value="Yüksek">Yüksek</option>
                                <option value="Acil">Acil</option>
                            </select>
                        </div>

                        <div class="col-lg-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-user"></i> {{ "Atanacak Personel" }}</label>
                            <select class="form-select" formControlName="assignedEmployeeId">
                                <option value="" disabled selected>{{ "Personel Seç" }}</option>
                                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.firstName }}
                                </option>
                            </select>
                        </div>

                        <!-- Deadline -->
                        <div class="col-lg-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-calendar-day"></i> {{ "Görev Günü"
                                }}</label>
                            <input type="date" class="form-control" formControlName="deadline">
                        </div>
                        <div>
                            <input type="text" class="form-control" formControlName="status" value="Tamamlanmamış" hidden>
                        </div>

                        
                    </div>
                </form>

                <div class="btn-location mt-4">
                    <button class="button-37" (click)="addDuty()" data-bs-dismiss="modal">
                        <i class="fa-solid fa-plus"></i> {{ lang.addNewDuty }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>