<div class="modal fade" id="customerUpdateModal" tabindex="-1" aria-labelledby="customerUpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="customerUpdateModalLabel"> <i class="fa-solid fa-user-plus"></i>
                    {{lang.updateCustomer}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="customerForm">
                <form [formGroup]="customerForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-envelope"></i>
                                {{lang.email}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="email"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-envelope"></i>
                                {{lang.customerName}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="name"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                                {{lang.companyName}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="companyName" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-user-tag"></i>
                                {{lang.address}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="address" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                                {{lang.country}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="country" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                                {{lang.city}}</label>
                            <input type="text" class="modal-input addClass" class="form-control" formControlName="city"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 custom-select-wrapper modalSelect">
                            <label class="chooseLabel"><i class="fa-solid fa-phone"></i>
                                {{lang.phoneNumber}}</label>
                            <input type="tel" class="modal-input addClass" class="form-control"
                                formControlName="phoneNumber" placeholder="örn: 123 456 78 90"
                                style="margin-bottom: 0px !important;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-xl-6 mb-2">
                            <label class="chooseLabel"><i class="fa-solid fa-tag"></i>
                                {{lang.customerFields}}</label>
                            <input type="text" class="modal-input addClass" class="form-control"
                                formControlName="customerField" style="margin-bottom: 0px !important;">
                        </div>
                        <div class="mb-3 custom-select-wrapper modalSelect">
                            <label class="chooseLabel"> <i class="fa-solid fa-code-branch"></i>
                                {{lang.status}}</label>
                            <select class="form-select chooseSelect" aria-label="Default select example"
                                formControlName="status" style="font: small-caption !important;">
                                <option value="" disabled selected>{{lang.chooseStatus}}</option>
                                <option value="Potential"> Potansiyel Müşteri</option>
                                <option value="Active"> Aktif Müşteri</option>
                                <option value="Inactive"> Pasif Müşteri</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="btn-location mt-5">
                    <button class="button-37" (click)="updateCustomer()" data-bs-dismiss="modal"><i
                            class="fa-solid fa-user-plus"></i> {{lang.updateCustomer}}</button>
                </div>
            </div>
        </div>
    </div>
</div>