<div class="dialog-layout">
    
    <div class="dialog-header">
        <div class="header-content">
            <h5 class="title">Servis Raporu</h5>
            <p class="subtitle">Müşteri için otomatik rapor oluşturun.</p>
        </div>
        <button type="button" class="btn-close-white" (click)="close()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="dialog-body">
        <form [formGroup]="serviceReportForm">
            <div class="row">
                <div class="col-12">
                    <label class="form-label">Müşteri Seçimi <span class="text-danger">*</span></label>
                    
                    <ng-select [items]="customers" 
                               bindLabel="companyName" 
                               bindValue="id"
                               formControlName="customerId"
                               placeholder=""
                               class="modern-select"
                               appendTo="body">
                        
                        <ng-template ng-option-tmp let-item="item">
                            <div class="d-flex align-items-center">
                                <div class="customer-avatar me-2">
                                    {{ item.companyName.charAt(0).toUpperCase() }}
                                </div>
                                <span class="fw-bold text-dark small">{{item.companyName}}</span>
                            </div>
                        </ng-template>
                    </ng-select>
                </div>
            </div>
        </form>

        <div class="alert-box info mt-4">
            <i class="fa-solid fa-circle-info"></i>
            <p>Rapor oluşturulduğunda listenin en sonunda gösterilecektir.</p>
        </div>
    </div>

    <div class="dialog-footer">
        <button type="button" class="btn-ghost" (click)="close()">
            İptal
        </button>
        
        <button type="button" class="btn-prism" (click)="createReport()" [disabled]="serviceReportForm.invalid || isLoading">
            <div class="sheen"></div>
            
            <ng-container *ngIf="!isLoading">
                <i class="fa-solid fa-file-export me-2"></i> Raporu Oluştur
            </ng-container>
            
            <ng-container *ngIf="isLoading">
                <i class="fa-solid fa-circle-notch fa-spin me-2"></i> İşleniyor...
            </ng-container>
        </button>
    </div>

</div>