<div class="modal fade" id="documentFileGenerateDailyReportModal" tabindex="-1" aria-labelledby="documentFileGenerateDailyReportLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="documentFileGenerateDailyReportLabel"> <i class="fa-solid fa-file-contract"></i>
                    {{"Günlük Rapor Üret"}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <div class="row">
                        Bugünlük Rapor Üretilecek. Onaylıyor musunuz?
                    </div>
                <div class="btn-location mt-5">
                    <button class="button-37" (click)="onSubmit()" data-bs-dismiss="modal"><i class="fa-solid fa-file-contract"></i> {{"Rapor Üret"}}</button>
                </div>
            </div>
        </div>
    </div>
</div>