<div class="container-fluid">
    


    <div class="toolbar-row">
        <h4 class="toolbar-title">
            <i class="fa-solid fa-folder-open me-2 opacity-50"></i>
            {{ lang.documentFiles || 'Belge Yönetimi' }}
        </h4>
        
        <div class="d-flex align-items-center gap-2">
            
             <button class="btn-primary-action" [matMenuTriggerFor]="menu">
                <i class="fa-solid fa-plus"></i> <span>Oluştur</span>
            </button>

<mat-menu #menu="matMenu" xPosition="before">
    
    <button mat-menu-item (click)="openDailyReportDialog()">
        <i class="fa-solid fa-calendar-day me-2 text-info"></i> Günlük Rapor
    </button>

    <button mat-menu-item (click)="openServiceReportDialog()">
        <i class="fa-solid fa-file-signature me-2 text-warning"></i> Servis Raporu
    </button>

</mat-menu>
 

            <div class="vr opacity-25 mx-2 my-1"></div>

            <button class="btn-reset" (click)="resetParameters()" title="Görünümü Sıfırla">
                <i class="fa-solid fa-arrows-rotate"></i>
                <span class="d-none d-lg-inline">Sıfırla</span>
            </button>
        </div>
    </div>

    <ag-grid-angular 
        id="datatable" 
        style="width: 100%; height: calc(100vh - 200px);"
        class="ag-theme-alpine" 
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" 
        [rowSelection]="'multiple'" 
        [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" 
        [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" 
        [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" 
        [maxBlocksInCache]="maxBlocksInCache" 
        [rowData]="rowData"
        [gridOptions]="gridOptions" 
        (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true">
    </ag-grid-angular>

</div> 
