<h2 mat-dialog-title><i class="fa-solid fa-plus"></i> {{ lang.addNewDuty }}</h2>
<div mat-dialog-content>
  <form [formGroup]="dutyForm">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">{{lang.name }}</label>
        <input formControlName="name" class="form-control" type="text">
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ lang.description }}</label>
        <input formControlName="description" class="form-control" type="text">
      </div>

      <div class="col-lg-12 mb-2">
        <label class="chooseLabel">
          <i class="fa-solid fa-user"></i> {{lang.customerName}}
        </label>
        <ng-select [items]="customers" bindLabel="companyName" bindValue="id" formControlName="customerId">
          <ng-template ng-notfound-tmp let-searchTerm="searchTerm">
            <div class="ng-option disabled">
              "{{searchTerm}}" adında müşteri bulunamadı. Yeni oluşturulsun mu?
              <button class="button-4" mat-button (click)="close(null)">
                <i class="fa-solid fa-circle-xmark"></i> {{ "Yeni Oluştur" }}
              </button>
            </div>
          </ng-template>
        </ng-select>

      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions class="d-flex justify-content-end gap-2">
  <button class="button-4" mat-button (click)="close(null)">
    <i class="fa-solid fa-circle-xmark"></i> {{ lang.cancel }}
  </button>
  <button class="button-24" mat-button (click)="submit()">
    <i class="fa-solid fa-check"></i> {{ lang.addNewDuty }}
  </button>
</div>