<div class="container-fluid" style="">
    <app-navbar-customer></app-navbar-customer>
    <ag-grid-angular id="datatable" style="width: 100%;height: 83vh;font-size: 10px;" class="ag-theme-alpine" [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef" [rowSelection]="'multiple'" [enableCellTextSelection]="true"
        [cacheBlockSize]="cacheBlockSize" [cacheOverflowSize]="cacheOverflowSize"
        [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
        [infiniteInitialRowCount]="infiniteInitialRowCount" [enableBrowserTooltips]="true"
        [overlayNoRowsTemplate]="noRowsTemplate" [maxBlocksInCache]="maxBlocksInCache" [rowData]="rowData"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [suppressScrollOnNewData]="true"></ag-grid-angular>
</div> 
<app-add-customer (customerEvent)="getAllCustomer()"></app-add-customer>
<app-update-customer (customerEvent)="getAllCustomer()" [customer]="customer"></app-update-customer>

